@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.header-links{
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

a {
    text-decoration: none;
    padding: 16px;
    color: #F9FAF8;
    font-size: 24px;
}

.header img{
    max-height: 50px;
    margin: 12px;
}

.intro {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 16px;
}

.intro-text {
    flex-wrap: wrap;
    align-self: center;
    max-width: 500px;
    color: #E5E7EB;
    font-size: 18px;
    padding-right: 26px;
}

.intro-text h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.images-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-section h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;   
}

.image-single img{
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 6px;
    border: 2px solid;
    border-color: #3882F6;
}

.image-single {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
    font-size: 18px;
}
.image-single img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding: 60px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-section .quote-origin {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: end;
    align-self: flex-end;
    margin: 0px;
}

.quote-section .quote {
    margin: 22px;
}